<?php
   $pixel = '';
   if (isset($_GET['utm_muid'])) {
       $pixel = $_GET['utm_muid'];
   } 
   else if (isset($_GET['utm_wuid'])) {
       $pixel = $_GET['utm_wuid'];
   }
?>
<!DOCTYPE html><html class="notranslate" translate="no" lang="en"><head>

 <title>{{title}}</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Footer-with-logo.css">
  <meta name="google" content="notranslate">
  <link rel="manifest" href="twa/megawinner/manifest.webmanifest.json">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  <meta name="google" content="notranslate">
  <meta name="referrer" content="no-referrer">
  <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        if (pixel){
            fbq('init', '<?=$pixel;?>');
            fbq('track', 'PageView');
        }
    </script>
      </head><body>
      {{div_1}}
 <meta name="apple-mobile-web-app-title" content="{{meta_description}}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">

  <link rel="stylesheet" href="css/bulma.min.css">




  <section class="section">
    <div class="container is-max-desktop">

      <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">

          <div class="columns">
            <div class="column is-one-third">

              <figure class="image  is-1by1">
{{div_2}}
</figure>
            </div>
            <div class="column ">
              <h1 class="title"><div class="{{class_name}}">
{{div_3}}
   </h1>
              <p class="subtitle">

              </p>
{{div_4}}

</div>
          </div>

          <section class="hero is-halfheight">
            <div class="hero-body">
              <div class="{{class_name}}">
                <p class="title">
                 Bewertung
                </p>
                <style>
                  .media-content > .content > .content__title > .image-float {
                    margin: 0;
                    float: left;
                  }
                  .media-content > .content > .content__title {
                    display: flex;
                    align-items: center;
                    height: 64px;
                  }
                  .media-content > .content > .content__title > p {
                    margin-left: 10px;
                    display: block;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    width: calc(100% - 74px);
                  }
                </style>

                 <div class="box">
                  <article class="media">
                    <div class="media-content">
                      <div class="content">
                        <div class="content__title">
                          <figure class="image is-64x64 image-float"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div class="{{class_name}}">
 <img src="{{comment-avatar}}" alt="Image"></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</figure>
       <div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div class="{{class_name}}">
<p><strong> &nbsp;{{comment-author}} </strong></p><p>
     </p></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div class="{{class_name}}">
                  <p>
"{{comment-text}}"
</p></div>
<div></div>
<div></div>
</div>
                       </div>

                    </div>
                  </article>
                </div>
              </div>
            </div>
          </section>

          <div class="columns">
            <div class="column is-one-third">

              <div class="block">
                <figure class="image"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div class="{{class_name}}">
 <img src="{{image1}}"></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
</figure>
              </div>
              <div class="block">
                <figure class="image"><div class="{{class_name}}">
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
</div>
<div class="{{class_name}}">
<div class="{{class_name}}">
 <img src="{{image2}}"></div>
</div>
<div class="{{class_name}}">
<div></div>
</div>
</figure>
              </div>
              <div class="block">
                <figure class="image"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div class="{{class_name}}">
 <img src="{{image3}}"></div>
<div></div>
<div></div>
<div></div>
</div>
</figure>
              </div>




            </div>
            <div class="column ">
              <p class="subtitle"></p><div class="{{class_name}}">
<div class="{{class_name}}">
{{description}} <br>  </div>
</div>
<br>


<br>

              <p></p>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div class="{{class_name}}">
<a href="{{url}}&hl=de&gl=de" class="knp"><img src="images/google.png" height="55%" width="55%"></a></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
</div>
 </div>
          </div>

        </div>
      </div>

    </div>
  </section>

<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div class="{{class_name}}">
<h5>Kontakte</h5>
                    <ul>
                        <li><p></p></li>
                        <li><p> +49(0{{phone_code}}) {{phone_number}}</p></li>
                        <li><a href="{{company-email}}"><span class="__cf_email__" data-cfemail="{{rnd_data_cfemail}}">[email&nbsp;protected]</span> </a></li>
                    </ul></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
 </div>
                <div class="col-sm-3"><div class="{{class_name}}">
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
</div>
<div class="{{class_name}}">
<div class="{{class_name}}">
 <h5>Die Daten</h5>
                    <ul>
                        <li><a href="{{company-policy}}">Datenschutz</a></li>
                        <li><a href="https://play.google.com/intl/de_de/about/play-terms/index.html">Nutzungsbedingungen</a></li>
                        <li><p>INN: {{inn}}</p></li>
                        <li><p>OGRN: {{orgn}}</p></li>
                    </ul></div>
</div>
</div>
                <div class="col-sm-3"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div class="{{class_name}}">
<h5><a href="{{company-url}}">Gehe zur Website</a></h5>
                    <ul>
                        <li><p>Erneut: {{date}}</p></li>
                        <li><p>Aktuelle Version: {{version}}</p></li>
                        <li><p>Die Größe: {{size}}</p></li>
                    </ul></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
   </div>
            </div>
        </div>
        <div class="second-bar">
           <div class="container"><div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div class="{{class_name}}">
<h2 class="logo"><a href="/"> {{title}}  </a></h2></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
<div class="{{class_name}}">
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
<div></div>
</div>
 </div>
        </div>
    </footer>
    <script data-cfasync="false" src="js/email-decode.min.js"></script><script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


</body></html>